.header-container {
    display: flex;
    flex-direction: column;
    margin-top: 75%;
    background-color: #ffdfb1;
    }
  
  .header-inner-container {
    display: flex;
    padding: 10px;
  }
  
  .rogue {
    width: 60px;
    height: 60px;
    padding: 0 10px;
    background-image: url("/src/assets/images/rogue.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
  }
  
  .username-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  
  .username-container .username {
    font-size: xx-large;
  }
  
  .username-container .map-name {
    font-size: small;
    font-weight: bold;
  }
  
  .time-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10%;
    font-size: larger;
  }
  
  .icon-container {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
    padding: 0px 2%;
  }
  
  .connection-icon-container {
    display: flex;
    font-size: large;
    align-items: center;
    justify-content: center;
    padding: 0px 1%;
  }
  
  .settings-button-container {
    font-size: 40px;
    background-color: transparent;
    border: 0ch;

  }
  
  .hr-container {
    height: 1px;
  }
  